body{
    margin: 0%;
    color: rgb(9, 10, 8);
    background-color: rgb(236, 168, 224);
}

h1{
    color:rgb(236, 168, 224);
    background-color: rgb(36, 195, 212);
    border-radius: 5px;
    margin: 0% 0% 1% 0%;
    text-align: center;
    padding: 2%;
}

form{
    text-align: center;
}

#TasksPlace {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

input{
    border-style: double;
    border-color: rgb(36, 195, 212);
    border-radius: 5px;
    block-size: 5%;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: rgb(36, 195, 212);
    margin-top: 40px;
    opacity: 0.8;
}